<!DOCTYPE html>
<html lang="en">
<head>
    <title>MySQL Login System</title>
    {{> defaultHeaders}}
</head>
<body>
    {{> navigationBar }}
    <h1>Welcome to the MySQL Login System</h1>
</body>
</html>