<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    {{> defaultHeaders}}
</head>
<body>
    {{> navigationBar}}
    <h1>Log in</h1>
    <form>
        <div>
            <div>
                <label class="formGroupLabel__lip-8XnA">Email address or username</label>
            </div>
            <input id="login-key" class="formGroupInput__lip-q3Vi" type="text" placeholder="Email address or username" />
        </div>
        <div>
            <div>
                <label class="formGroupLabel__lip-8XnA">Password</label>
            </div>
            <input id="login-password" class="formGroupInput__lip-q3Vi" type="password" placeholder="Email your password" />
        </div>
        <div>
            <button id="login-button" class="formButton__lip-b5H7">Log in</button>
        </div>
    </form>
</body>
</html>