<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    {{> defaultHeaders}}
</head>
<body>
    {{> navigationBar }}
    <h1>Sign up</h1>
    <form id="signup-form">
        <div class="formGroup__sup-k9J0">
            <div class="formGroupLabelWrapper__sup-x6Qr">
                <label class="formGroupLabel__sup-1s9N">What's your email?</label>
            </div>
            <input id="signup-email" class="formGroupInput__sup-3Q8g" type="email" placeholder="Enter your email" />
        </div>
        <div class="formGroup__sup-k9J0">
            <div class="formGroupLabelWrapper__sup-x6Qr">
                <label class="formGroupLabel__sup-1s9N">Confirm your email</label>
            </div>
            <input id="signup-confirm-email" class="formGroupInput__sup-3Q8g" type="email" placeholder="Enter your email again" />
        </div>
        <div class="formGroup__sup-k9J0">
            <div class="formGroupLabelWrapper__sup-x6Qr">
                <label class="formGroupLabel__sup-1s9N">Secure your account</label>
            </div>
            <input id="signup-password" class="formGroupInput__sup-3Q8g" type="password" placeholder="Enter an appropriate password" />
        </div>
        <div class="formGroup__sup-k9J0">
            <div class="formGroupLabelWrapper__sup-x6Qr">
                <label class="formGroupLabel__sup-1s9N">What should we call you?</label>
            </div>
            <input id="signup-username" class="formGroupInput__sup-3Q8g" type="text" placeholder="Enter a username" />
        </div>
        <div class="formGroup__sup-k9J0">
            <div class="formGroupLabelWrapper__sup-x6Qr">
                <label class="formGroupLabel__sup-1s9N">What's your gender?</label>
            </div>
        </div>
        <div class="formGroup__sup-k9J0">
            <button id="signup-button" class="formButton__sup-O8b7">Sign up</button>
        </div>
    </form>
    <script src="/js/forms.js"></script>
</body>
</html>